.projects-slider {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  position: absolute;
  width: 350px;
  height: auto;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.5s;
  overflow: scroll;
  cursor: pointer;
}

.item img {
  max-width: 100%;
}

.image-back {
  background-color: white;
  width: 70vw;
  height: 70vh;
  z-index: 30;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.invisible {
  display: none;
}

.slide-arrows {
  cursor: pointer;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Left arrows */
.prev-first {
  animation: prev-movement 2s ease-in-out infinite;
}

.prev-second {
  animation: prev-movement 2s 1s ease-in-out infinite;
}

/* Right arrows */
.next-first {
  animation: next-movement 2s ease-in-out infinite;
}

.next-second {
  animation: next-movement 2s 1s ease-in-out infinite;
}

/* Left side animation */
@keyframes prev-movement {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(0);
  }
}

/* Right side animation */
@keyframes next-movement {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(0);
  }
}
