nav {
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  top: 0;
  padding: 10px 30px;
  position: fixed;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
}

nav li {
  font-size: 12px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}

.logo-container {
  cursor: pointer;
  margin-top: 5px;
}

.logo {
  font-family: Finlandica;
  cursor: pointer;
  display: block;
  font-size: 30px;
  color: white;
  text-align: center;
  border: 1px white solid;
  border-radius: 50%;
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 3px;
  width: 40px;
  height: 40px;
  padding: 0px;
  padding-right: 3px;
  letter-spacing: -5px;
}

nav ul li:hover {
  letter-spacing: 3px;
}
