.front {
  z-index: 50;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.welcome {
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

h2 {
  font-size: 120px;
  color: white;
  margin-bottom: 30px;
}

.button {
  border-top: 1px white solid;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 3px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  letter-spacing: 1px;
}

a {
  padding-left: 8px;
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.4);
  letter-spacing: 2.5px;
}

/* !ABOUT PAGE */
.about {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about p {
  color: white;
  text-align: center;
  width: 50vw;
  line-height: 40px;
  font-size: 25px;
  margin-bottom: 20px;
}

canvas {
  position: fixed;
}
