.front {
  z-index: 50;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.welcome {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

h2 {
  font-family: Orbitron;
  font-size: 120px;
  color: white;
  margin-bottom: 30px;
}

.button {
  border-top: 1px white solid;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 3px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  letter-spacing: 1px;
}

a {
  font-family: Orbitron;
  padding-left: 8px;
  text-decoration: none;
  color: white;
}

.button:hover {
  letter-spacing: 2.5px;
}

/* !ABOUT PAGE */
.about {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about p {
  font-family: Jura;
  color: white;
  text-align: center;
  width: 55vw;
  line-height: 45px;
  font-size: 30px;
  margin-bottom: 30px;
}

canvas {
  position: fixed;
}

/* !Arrow */

.container {
  cursor: pointer;
}

.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate3d(-90%, -90%, 0);
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 93.5%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
