.stars {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.canvas {
  height: 100vh;
}

.earthcanvas {
  height: 100vh;
  position: fixed;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.scene {
  height: 100vh;
}
html {
  background-color: rgb(0, 0, 0);
}

.go-back-btn {
  position: absolute;
  top: 2%;
  left: 2%;
  cursor: pointer;
  z-index: 50;
}

.message {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  z-index: 1000;
}

.fade-out {
  opacity: 0;
}
