.stars {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  z-index: 1;
}

.canvas {
  height: 100vh;
}

.earthcanvas {
  height: 100vh;
  position: fixed;
  width: 100vw;
  /* z-index: 2; */
}

::-webkit-scrollbar {
  display: none;
}

.scene {
  height: 100vh;
}
html {
  background-color: rgb(0, 0, 0);
  /* background: url("/milkyway.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}
